
  <form [formGroup]="workerForm">
    <div class="col-12">
      <h5>{{title}}</h5>
    </div>
     <div class="row mr-4 mt-2"> 
      <div class="col-5">
        <input type="text" class="form-control" placeholder="Имя" formControlName="name" #n />
      </div>
      <div class="col-5">
        <input type="text" class="form-control" placeholder="Фамилия" formControlName="surname" #s />
      </div>
      <div class="col-5 mt-2">
        <input type="text" class="form-control" [textMask]="{mask: mask}" placeholder="+7 (ххх) ххх-хх-хх" formControlName="phone" #p />
      </div>
      <div class="col-5 mt-2">
        <select class="custom-select" formControlName="type">
          <option [ngValue]="myWorkerType.programmer">Программист</option>
          <option [ngValue]="myWorkerType.designer">Дизайнер</option>
          <option [ngValue]="myWorkerType.copywriter">Рекламщик</option>
          <option [ngValue]="myWorkerType.manager">Менеджер</option>
        </select>
      </div>
    <div class="col-12 mt-1">
      <button class="btn btn-outline-primary btn-sm" [disabled]="workerForm.invalid"
        (click)="onAddWorker()">Добавить</button>
    </div>
  </div> 
    </form>
  
